# Test binary, built with `go test -c`
*.test

# Editor/IDE
.vscode/
.claude

# MAC OSX remove from everywhere
**/.DS_Store
**/~*

# ignore directories
_bin/
_dev/
sandbox/
install/
testdata/
dat/

# build outputs and deploy target for build/cidr
build/install/
build/host
